body {

    background-image: linear-gradient(to top, rgba(36, 111, 141, 0), rgb(170, 221, 140));
    background-repeat: no-repeat;
    height: 100vh;
    box-sizing: border-box;
}

#main {

    border-radius: 25px;
    border: 2px solid rgb(1, 58, 104);
    background-color: rgb(166, 196, 221);
    width: 70%;
    height: auto;
    margin: auto;


}

h1 {

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(34, 82, 121);
    line-height: 60px;
    color: white;
    text-align: center;

}

input {

    margin: auto;
    width: 80%;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: Arial, sans-serif;
    outline: none;
    color: rgb(78, 78, 78);
    border: none;
    border-bottom: 2px solid rgb(34, 82, 121);
    display: block;


}

.main-btn {
    display: flex;
    justify-content: space-evenly;
}

.btnAdd {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 4%;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    outline: none;


}

.btnClear {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 10px 4%;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    outline: none;



}


li {
    margin: 10px;
    background-color: rgb(246, 249, 255);
    box-shadow: 15px 15px 15px rgb(44, 42, 42 .8);
    width: 75%;
    text-decoration: none;
    padding: 20px;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 20px;



    justify-content: space-between;


}


.clear {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 3px 2%;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
    margin: 10px;
    display: inline-block;

}

.edit {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 3px 2%;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
    margin: 10px;
    display: inline-block;

}

@media only screen and (max-width: 400px) {

    #main {

        border-radius: 25px;
        border: 2px solid rgb(1, 58, 104);
        background-color: rgb(166, 196, 221);
        width: 95%;
        height: auto;
        margin: auto;


    }

    h1 {

        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        background-color: rgb(34, 82, 121);
        line-height: 60px;
        color: white;
        text-align: center;

    }

    input {

        margin: auto;
        width: 85%;
        padding: 15px;
        margin-bottom: 10px;
        font-size: 25px;
        font-family: Arial, sans-serif;
        outline: none;
        color: rgb(78, 78, 78);
        border: none;
        border-bottom: 2px solid rgb(34, 82, 121);
        display: block;


    }

    .main-btn {
        display: flex;
        justify-content: space-evenly;
    }

    .btnAdd {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 10px 4%;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        outline: none;


    }

    .btnClear {
        background-color: #f44336;
        border: none;
        color: white;
        padding: 10px 4%;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 15px;
        outline: none;



    }


    li {

        background-color: rgb(246, 249, 255);
        box-shadow: 15px 15px 15px rgb(44, 42, 42 .8);
        width: 70%;
        text-decoration: none;
        font-size: 15px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        border-radius: 20px;



    }


    .clear {
        background-color: #f44336;
        border: none;
        color: white;
        padding: 3px 2%;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        outline: none;
        margin: 10px;
        display: inline-block;

    }

    .edit {
        background-color: #4CAF50;
        border: none;
        color: white;
        padding: 3px 2%;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        outline: none;
        margin: 10px;
        display: inline-block;

    }

}